:root {
    --transition-glow: 0.2s ease;
    --glow-hover:
        inset 0 0 5px #F80,
        0 0 8px #F80;
    --glow-active:
        inset 0 0 10px #F80,
        0 0 20px #F80;
    --transition-menu: 0.3s ease;
    --standard-border: 8px solid #333232;
}

body {
    background-color: #F80;
    font-family: monospace;
    /*font-family: Arial, Helvetica, sans-serif;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

.menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s ease;
}

@media only screen and (max-width: 900px) {
    .menu-icon {
        display: none;
    }
}

.menu-icon:hover {
    transform:scale(120%);
}

.menu-icon div {
    width: 30px;
    height: 5px;
    background-color: #1d1d1d;
    margin: 6px 0;
    transition: 0.3s ease-out;
}

.menu-icon.open div {
    opacity: 0;
    pointer-events: none;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1d1d;
    overflow-x: hidden;
    transition: var(--transition-menu);
    z-index: 30;
    
}

.menu a {
    padding: 40px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    color: #F80;
    display: block;
    transition: var(--transition-menu);
  }

.menu.open {
    width: 200px;
    border-right: var(--standard-border);
}

#file-input, #file-name {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.overlay.show {
    display: block;
}

.container {
    height: 100%;
    padding: 0px 5%;
    background-color: #1d1d1d;
    display: flex;
    width: min(80%, 650px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 1000px;
    border-radius: 30px;
    border: var(--standard-border);
    /*box-shadow: 0 0 60px 30px #FFF, 
    0 0 100px 60px #F0F,
    0 0 140px 90px #0FF,
    inset 60px 0 20px #F0F,
    inset -60px 0 20px #0FF;*/
}

h1,h2,span {
    color:#F80;
    text-align: center;
    justify-self: flex-start;
    /*border: 2px solid #F80;*/
}

span {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width: 500px;
}

select {
    outline: none;
    font-family: monospace;
    margin:5% auto;
    text-align: center;
    width:20%; 
    height:10%;
    background-color: #1d1d1d;
    color:#F80;
    border: 2px solid #F80;
    border-radius: 7px;
    transition: var(--transition-glow)
}

select:hover {
    box-shadow: var(--glow-hover)
}

select:focus {
    box-shadow: var(--glow-active)
}

option {
    font-family: monospace;
}

textarea {
    outline:none;
    width:100%;
    max-width: 500px;
    margin: 5% 5px;
    min-height:250px;
    text-align:left;
    border-radius: 10px;
    border: 4px solid #333232;
}

#output {
    margin: 1% 5px;
    min-height: 20px;
}

#message:hover {
    border: 4px solid #f7ca96;
}

#message:focus {
    border: 4px solid #F80;
}

button {
    text-align: center;
    margin:5% auto;
    width:20%; 
    height:10%;
    font-family: inherit;
    background-color: #1d1d1d;
    color:#F80;
    border-radius: 7px;
    border: 2px solid #F80;
    transition: var(--transition-glow)
}

button:hover {
    box-shadow: var(--glow-hover)
}

button:active {
    box-shadow: var(--glow-active)
}

.hash_container {
    height: 100%;
    padding: 10px 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

span a {
    text-decoration: none;
    color: #f7ca96;
}

span a:hover{
    color: #F80;
}

footer p{
    padding-top: 20px;
    color: #1d1d1d;
}