<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hash Application</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="../static/js/menu-script.js" defer></script>
</head>

<body>

   <div class="menu-icon" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
   </div>

   <div id="menu" class="menu">
    <a href="{{ url_for('about') }}">About</a>
    <a id="upload" href="javascript:void(0)">Upload a file</a>
   </div>

   <input type="file" id ="file-input"/>

   <div class="file-name" id="file-name"></div>

   <div id="overlay" class="overlay" onclick="closeMenu()"></div>

    <div class="container">
        <h1>
        Hash Application
        </h1>

        <form id="form" method="POST">
            <select name="hash_algorithm" id="hash">
                <option value="md5">
                    <span>MD5</span>
                </option>
                <option value="sha1">
                    <!-- img src="../static/sha1_icon.svg"/ -->
                    <span>SHA-1</span>
                </option>
                <option value="sha256">
                    <span>SHA256</span>
                </option>
            </select>
            <textarea id="message" name="message" rows="4" cols="50" placeholder="Enter a message:" required>{% if not user_input -%}{%- else -%}{{ user_input }}{%- endif %}</textarea>
            <button type="submit">Click</button>
        </form>

        <div class = "hash_container">
            <h2>Hashed Output</h2>
            <textarea id="output" name="output" rows="4" cols="50" readonly>{{ output }}</textarea>
        </div>

        <div id = "loading" class="loading-spinner" style="display:none;"></div>

    </div>

    <footer>
        <p>&copy; 2025 Manpreet M. All rights reserved.</p>
    </footer>
      

    <script>
        //Uses AJAX to prevent having to reload the entire page every form submission only updating output
        document.getElementById('form').addEventListener('submit', async function (e) {
            e.preventDefault();

            const form = e.target;
            const formData = new FormData(form);
    
            const response = await fetch('/', {
                method: 'POST',
                body: formData
            });
    
            const data = await response.text();
            document.getElementById('output').value = data;
        });
    </script>
    <script type="module">
        const upload = document.getElementById('upload');
        const fileInput = document.getElementById('file-input');
        const fileName = document.getElementById('file-name');
        const selectAlgo = document.getElementById('hash');
        const output = document.getElementById('output');
        const loader = document.getElementById('loading');

        upload.addEventListener('click', function() {
            event.preventDefault();
            fileInput.click();
        });

        fileInput.addEventListener('change', function() {
            const selectedFile = fileInput.files[0];
            if(selectedFile) {
                fileName.textContent = `Selected file: ${selectedFile.name}`;
                uploadFile(selectedFile);
            }
        });

        // Asynchronously uploads file using Fetch API to send to flask backend
        async function uploadFile(file) {
            // Calls close menu from seperate file to close the side menu after selecting 'upload a file'
            closeMenu();
            
            // Max file size allowed in vercel serverless functions, can be changed for local build
            const MAX_FILE_SIZE = 4194304;

            if(file && file.size > MAX_FILE_SIZE) {
                alert(`File too large! Maximum allowed is ${MAX_FILE_SIZE / 1024 / 1024} MB.`);
                return;
            }

            // Shows loading spinner while file is being processed
            loader.style.display = 'inline-block';

            const formData = new FormData();
            formData.append('file', file);
            formData.append('hash_algorithm', selectAlgo.value);

            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                if(response.ok) {
                    const result = await response.json();
                    const data = result.file_hash;
                    console.log('File uploaded successfully:', result);
                    output.value = data;
                    output.focus();
                } else {
                    //Handles error if response is not OK
                    const errorResult = await response.json();
                    console.error('Error uploading file:', errorResult.message);
                    alert(`Error uploading file: ${errorResult.message}`);
                }
            } catch (error) {
                console.error('Error uploading file:', error);
                alert(`Error uploading file: ${error}`);
            }
            // Hides loading spinner once file upload and processing is done
            loader.style.display = 'none';

        }

    </script>
</body>
</html>